body {
  min-width: 760px;
}

div#globalWrapper {
  margin: 0 auto;
  overflow: hidden;
}

div#mw-content-text {
  font: 1rem/1.8 "Roboto Slab", FZNewShuSong-Z10S;
}

pre, code, tt {
  font: 0.85rem/1.8 "Roboto Mono";
}

.mw-body {
  padding: 2rem;
}

@media (max-width: 960px) {
  div#column-content {
    float: none;
    margin: 0;
  }
  div#content {
    margin-left: 0;
    margin-right: 0;
  }
  #p-cactions {
    left: 0;
  }
}
